<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="MyCN" connectionString="Data Source = 127.0.0.1;Initial Catalog = FaceData;User Id = sa;Password = 123456;"
            providerName="System.Data.SqlClient" />
        <add name="人脸1.Properties.Settings.TestConnectionString" connectionString="Data Source=ACER-PC;Initial Catalog=FaceData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="人脸1.Properties.Settings.FaceDataConnectionString"
            connectionString="Data Source=ACER-PC;Initial Catalog=FaceData;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>